---
const teamsResponse = await fetch("http://localhost:1234/teams");
const teamsData = await teamsResponse.json();
---

<footer
  class={`flex flex-row items-center sm:justify-between p-4 mt-10 w-full overflow-x-auto border-t-[1px] border-[#00001B]`}
>
  {
    teamsData.map((teambadge) => (
      <a
        href={`/teams/${teambadge.id}`}
        class="inline-block hover:scale-105 transition"
      >
        <img
          src={teambadge.badge}
          alt={teambadge.name}
          class="min-h-[56px] min-w-[56px] max-w-[56px] max-h-[56px]"
        />
      </a>
    ))
  }
</footer>
