---
import { getRelativeLocaleUrl } from "astro:i18n";
import { translator } from "@/utils/dictionary.js";
const currentLang = Astro.currentLocale || "es";
---

<div
  class="flex flex-row xl:flex-col justify-center gap-2 sm:gap-4 xl:justify-start font-la-liga-font text-sm md:text-xl xl:text-3xl"
>
  <a href={getRelativeLocaleUrl(currentLang, `/teams/`)}>
    <div class="home-button">
      {translator(currentLang, "exploreTeams")}
    </div>
  </a>
  <a href={getRelativeLocaleUrl(currentLang, `/about/`)}>
    <div class="home-button">
      {translator(currentLang, "aboutWebsite")}
    </div>
  </a>
</div>

<style>
  .home-button {
    display: flex;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
    padding: 1rem;
    border-radius: 1rem;
    width: 6rem;
    height: 6rem;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    background-image: url("/images/background-teams-grid.png");
    background-size: cover;
    background-position: center;
    background-color: white;
  }

  .home-button:hover {
    --tw-scale-x: 1.02;
    --tw-scale-y: 1.02;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    background-color: #ff4b44;
    border-width: 0px;
    color: white;
  }

  @media (min-width: 1280px) {
    .home-button {
      width: 16rem;
      height: 12rem;
    }
  }

  @media (min-width: 768px) {
    .home-button {
      width: 12rem;
      height: 10rem;
    }
  }
</style>
