---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sobre esta web" description="Información acerca de esta web">
  <div class="mt-20 p-8 text-center">
    <p class="font-bold text-xl">Sobre el proyecto</p>
    <p>
      Esto es una web app hecha con fines educativos. No se trata de una web
      oficial de LaLiga.
    </p>
    <br />
    <br />
    <p>El backend de esta web app está hecho con Node.js y Express.</p>
    <br />
    <p>El frontend está hecho con Astro y TailwindCSS.</p>
    <br />
    <br />
    <p>
      Puedes encontrar el código fuente de esta web app presionando el botón con
      el logo de Github al final de esta página.
    </p>
    <br />
    <br />
    <p class="font-bold text-xl">Sobre el autor</p>
    <br />
    <p>Me llamo Sergio Guerrero.</p>
    <p>
      Estudio Ingeniería de Software en la Universitat Politècnica de Catalunya
      (UPC).
    </p>
    <p>
      Me encanta programar, en especial me gusta todo lo que tiene que ver con
      páginas webs y aplicaciones.
    </p>
    <br />
    <p>
      Este es uno de los proyectos que he hecho para aprender más sobre Astro,
      TailwindCSS y Node.js.
    </p>
    <p>
      Espero poder hacer más en el futuro y no dejar nunca de estar a la
      vanguardia de las nuevas tecnologías.
    </p>
    <br />
    <p>
      Debajo de estas líneas tienes unos botones que te llevarán a las páginas
      principales de los lenguajes de programación utilizados
    </p>
    <p>
      en este proyecto y al repositorio de GitHub donde se encuentra el código
      fuente de esta web app.
    </p>
    <div class="flex flex-row gap-4 p-5 items-center justify-center">
      <a
        class="about-button"
        style="background-color: #17191e;"
        href="https://astro.build/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://astro.build/assets/press/astro-icon-light-gradient.svg"
          class="h-10 w-10"
        />
      </a>
      <a
        class="about-button"
        href="https://tailwindcss.com/"
        style="background-color: #06b5d3;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://www.loopple.com/img/tailwind-logo.png"
          class="h-10 w-10"
        />
      </a>
      <a
        class="about-button"
        href="https://nodejs.org/"
        style="background-color: #539e43;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://img.icons8.com/win10/512/FFFFFF/node-js.png"
          class="h-10 w-10"
        />
      </a>
      <a
        class="about-button"
        href="https://expressjs.com/"
        style="background-color: #000000;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://images.credly.com/images/1c2c86e1-16ce-4e4d-a425-d1ac96bb026d/express.png"
          class="h-10 w-10"
        />
      </a>
      <a
        class="about-button"
        href="https://github.com/sergioguri00/laliga"
        style="background-color: #1b1f23;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://img.icons8.com/ios11/512/FFFFFF/github.png"
          class="h-10 w-10"
        />
      </a>
    </div>
    <p>¡Gracias por tu visita!</p>
  </div>
</Layout>
