---
import Layout from "@/layouts/Layout.astro";
import HomeButtons from "@/components/HomeButtons.astro";
import ResultsTable from "@/components/ResultsTable.astro";
import LeagueTeable from "@/components/LeagueTeable.astro";
import NewsGrid from "@/components/NewsGrid.astro";
import "@/styles/global.css";

import { translator } from "@/utils/dictionary.js";

const lastMatchdayResponse = await fetch(
  "http://localhost:1234/leagues/1/lastMatchday"
);
const lastMatchdayData = await lastMatchdayResponse.json();
const currentLang = Astro.currentLocale || "es";
---

<Layout
  title="LaLiga | Inicio"
  description="Welcome to the non-official ( but better ;) ) LaLiga website!"
>
  <div class="flex flex-col justify-center items-center gap-24 px-2 xl:px-10">
    <section class="index-grid">
      <div>
        <HomeButtons />
      </div>
      <div>
        <NewsGrid />
      </div>
      <div>
        <LeagueTeable />
      </div>
    </section>
    <section
      class="px-2 md:px-16 flex flex-col gap-10 justify-between h-full w-full"
    >
      <div>
        <h2 class="text-2xl text-bold uppercase text-center font-la-liga-font">
          {translator(currentLang, "lastMatchday")}
        </h2>
        <div class="xl:px-48 md:px-10 py-4">
          <ResultsTable matchdayResultsData={lastMatchdayData} />
        </div>
      </div>
    </section>
  </div>
</Layout>
