@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "laligafont";
  src: url("/fonts/laligafont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #00001B;
  font-family: "Poppins", sans-serif;
}

.navbar-logo {
  svg {
    display: inline-block;
    fill: #00001B;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}
.navbar-logo:hover {
  svg {
    fill: #ff4b44;  
  }
}

#rrss {
  a {
    svg {
      display: inline-block;
      fill: #00001B;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }
  a:hover {
    #facebook {
      fill: #337FFF;  
    }
    #instagram {
      fill: #C13584;
    }
    #x {
      opacity: 0.7;
    }
    #linkedin {
      fill: #006699;
    }
    #tiktok {
      fill: #FF0855;
    }
    #vk {
      fill: #2787F5;
    }
    #youtube {
      fill: #FF3000;
    }
  }
}

.match-button {
  background-color: #00001B;
  color: white;
}

.match-button:hover {
  background-color: #ff4b44;
}

.flag-button:hover {
  background-color: #00001B;
  color: white;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.leagueTable {
  color: #00001B;

  tr:first-child {
    border-bottom: 1px solid #00001B;
  }

  th {
    padding: 0px 10px
  }

  td {
    text-align: center;
    margin: 0 10;
  }
}

.results-grid {
  grid-template-columns: 5.5rem 1fr 40px 1fr 60px;
}

@media (min-width: 768px) {
  .results-grid {
    grid-template-columns: 8rem 1fr 40px 1fr 85px;
  }
}

.about-button {
  border-radius: 9999px;
  padding: 10px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.about-button:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.home-button {
  display: flex;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
  padding: 1rem;
  border-radius: 1rem;
  width: 16rem;
  height: 12rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  background-image: url('/images/background-teams-grid.png');
  background-size: cover;
  background-position: center;
  background-color: white;
}

.home-button:hover {
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-color: #ff4b44;
  border-width: 0px;
  color: white;
}