---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sobre esta web" description="Información acerca de esta web">
  <div class="mt-20 p-8 text-center">
    <p class="font-bold text-xl">About the project</p>
    <p>
      This is a web app made for educational purposes. This is not the official
      LaLiga web app.
    </p>
    <br />
    <br />
    <p>The backend is made with Node.js and Express.</p>
    <br />
    <p>The frontend is made with Astro and TailwindCSS.</p>
    <br />
    <br />
    <p>
      You can find the source of this web app by pressing the button with the
      Guthub logo at the end of this page.
    </p>
    <br />
    <br />
    <p class="font-bold text-xl">About the author</p>
    <br />
    <p>My name is Sergio Guerrero.</p>
    <p>
      I am studying Software Engineering at Universitat Politècnica de Catalunya
      (UPC).
    </p>
    <p>
      I love programming, especially everything related to web pages and apps.
    </p>
    <br />
    <p>
      This is one of the projects I have made to learn more about Astro,
      TailwindCSS and Node.js.
    </p>
    <p>
      I hope to make more in the future and never stop being at the forefront of
      new technologies.
    </p>
    <br />
    <p>
      Below these lines you have some buttons that will take you to the main
      websites of the programming languages used in this project
    </p>
    <p>
      and to the GitHub repository where the source code of this web app is
      located.
    </p>
    <div class="flex flex-row gap-4 p-5 items-center justify-center">
      <a
        class="about-button"
        style="background-color: #17191e;"
        href="https://astro.build/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://astro.build/assets/press/astro-icon-light-gradient.svg"
          class="h-10 w-10"
        />
      </a>
      <a
        class="about-button"
        href="https://tailwindcss.com/"
        style="background-color: #06b5d3;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://www.loopple.com/img/tailwind-logo.png"
          class="h-10 w-10"
        />
      </a>
      <a
        class="about-button"
        href="https://nodejs.org/"
        style="background-color: #539e43;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://img.icons8.com/win10/512/FFFFFF/node-js.png"
          class="h-10 w-10"
        />
      </a>
      <a
        class="about-button"
        href="https://expressjs.com/"
        style="background-color: #000000;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://images.credly.com/images/1c2c86e1-16ce-4e4d-a425-d1ac96bb026d/express.png"
          class="h-10 w-10"
        />
      </a>
      <a
        class="about-button"
        href="https://github.com/sergioguri00/laliga"
        style="background-color: #1b1f23;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://img.icons8.com/ios11/512/FFFFFF/github.png"
          class="h-10 w-10"
        />
      </a>
    </div>
    <p>Thanks for your visit!</p>
  </div>
</Layout>
