---
import Layout from "@/layouts/Layout.astro";
import TeamSquare from "@/components/TeamSquare.astro";

import "@/styles/global.css";
const teamsResponse = await fetch("http://localhost:1234/teams");
const teamsData = await teamsResponse.json();
const stadiumsResponse = await fetch("http://localhost:1234/stadiums");
const stadiumData = await stadiumsResponse.json();

interface Team {
  id: number;
  shortName: string;
  badge: string;
  mainColor: string;
  year: number;
}
---

<Layout title="LaLiga | Teams" description="Explore all the teams in LaLiga">
  <section
    class="grid justify-items-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-10 py-3 px-10 mt-20"
  >
    {
      teamsData.map((team: Team) => (
        <TeamSquare team={team} stadium={stadiumData[team.id - 1]} />
      ))
    }
  </section>
</Layout>
